# Environment / secrets
.env

# Virtual environment
venv/

# Python
__pycache__/
*.pyc

# OS
.DS_Store

# Old Jupyter checkpoints
UFC_mapAPI/jupyter_notebooks/.ipynb_checkpoints/
UFC_mapAPI/.ipynb_checkpoints/
